@import '../../../../../sass/variables.scss';
@import '../../../../../sass/mixins.scss';

.profile-container {
  @include page-content-height;

  .profile-form-container {
    @include flex-center;

    mat-card {
        @include form-card-style(300px);

        mat-card-title,
        mat-card-content {
          text-align: center;
        }

        h1 {
          // font-size: 32px;
          @include h1-style;
          font-weight: 500;
        }

        mat-form-field {
          @include form-field-width;
        }

        .form-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
  }

  .subscriptions_container {
    padding: 20px;

    h2 {
      text-align: center;
      font-size: 32px;
      font-weight: 500;
    }

    mat-grid-tile {
      background: $lightgrey-background;
    }
  }
}
