<app-header></app-header>

<div class="profile-container">
  <div class="profile-form-container">
    <mat-card>
      <mat-card-title>
        <h1>Profil utilisateur</h1>
      </mat-card-title>
      <form [formGroup]="profileForm">
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nom d’utilisateur</mat-label>
              <input matInput type="text" formControlName="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Adresse e-mail</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </p>
          <button mat-flat-button>Sauvegarder</button>
          <button mat-flat-button>Se déconnecter</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>

  <mat-divider></mat-divider>
  <div class="subscriptions_container">
    <mat-grid-list cols="2" rowHeight="200px" gutterSize="20px">
      <mat-grid-tile>
        <!-- <app-topic-card></app-topic-card> -->
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


