<app-header></app-header>

<div class="post-form-buttons" fxLayout="row" fxLayoutAlign="space-between center" >
  <button mat-raised-button color="primary">Créer un article</button>
  <button mat-flat-button>Trier par
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>
<div class="posts">
  <mat-grid-list cols="2" rowHeight="200px" gutterSize="20px">
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
