<app-header></app-header>

<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <button class="arrow" mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card>
    <mat-card-title>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="/assets/logo_p6.png" alt="logo" class="logo-width" />
        <h1>Se connecter</h1>
      </div>
    </mat-card-title>
    <form>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>E-mail ou nom d’utilisateur</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Se connecter</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
