@if (responsiveService.currentScreenSize == 'Medium' || responsiveService.currentScreenSize == 'Large' || responsiveService.currentScreenSize == 'XLarge') {
  <app-header></app-header>
}

<div class="login-container">
  <button class="arrow-button" mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="login-card">
    <mat-card>
      <mat-card-title>
        <div>

          @if (responsiveService.currentScreenSize == 'Small' || responsiveService.currentScreenSize == 'XSmall') {
            <img src="/logo_p6.png" alt="logo" class="logo-width" />
          }

          <h1>Se connecter</h1>
        </div>
      </mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>E-mail ou nom d’utilisateur</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </p>
          <button mat-flat-button type="submit" [disabled]="!loginForm.valid">Se connecter</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>

