@import '../../../../../sass/mixins.scss';

.login-container {
  @include page-content-height;
  @include flex-center;
  position: relative;

  .arrow-button {
    @include arrow-button-style;

    .mat-icon {
      @include arrow-button-icon-style;
    }
  }

  .login-card {
    mat-card {
      @include form-card-style(300px);

      mat-card-title, mat-card-content {
          text-align: center;
      }

      h1 {
        // font-size: 32px;
        @include h1-style;
      }

      .logo-width {
        @include card-logo-width;
      }

      mat-form-field {
        @include form-field-width;
      }
    }
  }
}
