@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin clamp-lines ($line-number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-number;
  overflow: hidden;
}

@mixin page-content-height {
  height: calc(100% - 94px);

  @media screen and (max-width: 959.98px) {
    height: 100%;
  }
}

@mixin header-height {
  height: 94px;
}

// list-card

@mixin list-card-style($line-number) {
  padding: 20px;

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    @include clamp-lines ($line-number);
  }
}

// arrow-button

@mixin arrow-button-style {
  position: absolute;
  top: 0;
  left: 30px;
  width: fit-content;
  height: fit-content;

  @media screen and (max-width: 959.98px) {
    left: 10px;
  }
}

@mixin arrow-button-icon-style {
  font-size: 3rem;
  width: fit-content;
  height: fit-content;
}

// form-card

@mixin form-card-style ($max-width) {
  max-width: $max-width;
  width: 100%;
  box-shadow: none;
  background-color: white;
}

@mixin h1-style {
  font-size: 32px;
}

@mixin card-logo-width {
  width: 225px;
}

@mixin form-field-width {
  width: 250px;
}
