@import '../../../../../sass/mixins.scss';
@import '../../../../../sass/variables.scss';

.post-detail-container {
  @include flex-center;
  position: relative;

  .arrow-button {
    @include arrow-button-style;

    .mat-icon {
      @include arrow-button-icon-style;
    }
  }

  .main-container {
    width: 70%;
  }

  h1 {
    @include page-title(600);
  }

  .post-wrapper {

    padding-bottom: 16px;

    .post-labels {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 24px;

      span {
        margin-right: 20px;
      }
    }
  }

  .comments-wrapper {

    h2 {
      font-size: 16px;
    }

    .single-comment {
      display: flex;
      padding: 0 20px;
      margin-bottom: 20px;

      span {
        margin-right: 10px;
      }

      .comment-content {
        background: $lightgrey-background;
        width: 100%;
        padding: 16px;
        border-radius: 10px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  form {
    display: flex;
    padding: 0 20px;
    position: relative;

    mat-form-field {
      width: 100%;
      padding: 0 !important;
    }

    button {
      position: absolute;
      right: -60px;
      top: 24px;

      background-color: #FFF;
      box-shadow: none;

      mat-icon {
        font-size: 48px;
        height: 48px;
        width: 48px;
      }
    }
  }
}

@media screen and (max-width: 959.98px) {

  .post-detail-container {
    .main-container {
      width: unset;
    }

    h1 {
      margin-left: 80px;
      margin-bottom: 0;
    }

    .post-wrapper {
      padding: 0 20px 8px 20px;

      .post-labels {
        margin-bottom: 16px;
      }
    }

    .comments-wrapper {
      padding: 0 20px;

      h2 {
        margin-bottom: 0;
      }

      .single-comment {
        flex-wrap: wrap-reverse;
        justify-content: end;

        padding: 0;
        margin-bottom: 10px;

        .comment-content {
          background: #FFF;
          padding: 8px;
        }
      }
    }

    form {
      padding: 0;

      button {
        right: 20px;
      }
    }
  }
}


.color-primary {
  color: $app-primary;
}
