<app-header></app-header>

<div class="post-detail-container">
  <button class="arrow-button" mat-icon-button routerLink="/posts">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="main-container">

    <h1>{{ post.title }}</h1>

    <div>

      <div class="post-wrapper">
        <div class="post-labels">
          <span>{{ post.created_at }}</span>
          <span>{{ post.author }}</span>
          <span>{{ post.topic }}</span>
        </div>
        <p>{{ post.content }}</p>
      </div>

      <mat-divider></mat-divider>

      <div class="comments-wrapper">
        <h2>Commentaires</h2>
        <div class="single-comment" *ngFor="let comment of comments">
          <span>{{ comment.author }}</span>
          <div class="comment-content">
            <p>{{ comment.content }}</p>
          </div>
        </div>
      </div>

    </div>

    <form [formGroup]="commentForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Entrez votre commentaire</mat-label>
        <textarea matInput placeholder="Écrivez ici votre commentaire" formControlName="content" cdkTextareaAutosize #autosize="cdkTextareaAutosize"

            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="10"></textarea>
      </mat-form-field>
      <button mat-fab type="submit" [disabled]="!commentForm.valid">
        <mat-icon [ngClass]="{'color-primary' : commentForm.valid }">send</mat-icon>
      </button>
    </form>

  </div>
</div>
