@import '../../../../sass/mixins.scss';

.header {
  mat-toolbar {
    background-color: #fff;
    border-bottom: 1px solid #000;
    // height: 94px;
    @include header-height;

    .logo-width {
      width: 140px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .fab-button {
      background-color: #D9D9D9;
    }
  }
}
