.register {
  height: calc(100% - 94px);
  position: relative;

  .arrow {
    position: absolute;
    top: 0;
    left: 30px;
    width: 60px;

    .mat-icon {
      font-size: 50px;
      width: 50px;
    }
  }

  mat-card {
    margin: 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: none;

    .logo-width {
      width: 225px;
    }

    mat-form-field {
      width: 250px;
    }
  }
}
