<app-header></app-header>

<div class="post-form-container">
  <button class="arrow-button" mat-icon-button routerLink="/posts">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="post-create-card">
    <mat-card>
      <mat-card-title>
        <div>
          <h1>Créer un nouvel article</h1>
        </div>
      </mat-card-title>
      <form [formGroup]="postForm" (ngSubmit)="submit()">
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Sélectionner un thème</mat-label>
              <mat-select name="food" placeholder="Sélectionner un thème" formControlName="topicId">
                @for (topic of topics; track topic) {
                <mat-option [value]="topic.id">{{topic.title}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Titre de l'article</mat-label>
              <input matInput placeholder="Titre de l'article" formControlName="title">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Contenu de l'article</mat-label>
              <textarea matInput placeholder="Contenu de l'article" formControlName="content"></textarea>
            </mat-form-field>
          </p>
          <button mat-flat-button type="submit" [disabled]="!postForm.valid">Créer</button>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
