@import '../../../../../sass/variables.scss';

.post-list-buttons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.post-list-container {
  padding: 20px;

  mat-grid-tile {
    background: $lightgrey-background;
  }
}
