<app-header></app-header>

<div class="post-list-buttons">
  <button mat-flat-button routerLink="/posts/create">Créer un article</button>
  <button mat-button (click)="reverseArray(posts)">Trier par
    @if(isToggled) {
      <mat-icon>arrow_downward</mat-icon>
    }
    @if(!isToggled) {
      <mat-icon>arrow_upward</mat-icon>
    }
  </button>
</div>

<div class="post-list-container">
  <mat-grid-list cols="{{responsiveService.cols}}" rowHeight="270px" gutterSize="20px">

    <mat-grid-tile *ngFor="let post of posts">
      <app-post-card [post]="post" (click)="navigateToPageDetail(post.id)"></app-post-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
