<div class="center">
  <img src="/logo_p6.png" alt="logo" />

  <div>
    <button mat-flat-button routerLink="auth/login">Se connecter</button>
    <button mat-flat-button routerLink="auth/register">S'inscrire</button>
  </div>
  <div>
    <button mat-flat-button color="primary" routerLink="topics">Topics</button>
    <button mat-flat-button color="primary" routerLink="users/profile">User profile</button>
  </div>
  <div>
    <button mat-flat-button color="primary" routerLink="posts">Posts</button>
    <button mat-flat-button color="primary" routerLink="posts/create">Create a post</button>
    <button mat-flat-button color="primary" routerLink="posts/detail/:id">Post - detail</button>
  </div>
</div>

<!-- <button routerLink="/user/profile">user profile</button>

<button routerLink="/posts">posts</button>

<button routerLink="/posts/create">posts create</button>

<button routerLink="/posts/detail/:id">posts detail</button>

<button routerLink="/topics">topics</button>

<button routerLink="/auth/register">register</button>

<button routerLink="/auth/login">login</button> -->
