<div class="center">
  <img src="/logo_p6.png" alt="logo" />

  <div>
    <button mat-flat-button routerLink="auth/login">Se connecter</button>
    <button mat-flat-button routerLink="auth/register">S'inscrire</button>
  </div>
  <div>
    <button mat-flat-button color="primary" routerLink="topics">Topics</button>
    <button mat-flat-button color="primary" routerLink="user/profile">User profile</button>
  </div>
  <div>
    <button mat-flat-button color="primary" routerLink="posts">Posts</button>
    <button mat-flat-button color="primary" routerLink="posts/create">Create a post</button>
    <button mat-flat-button color="primary" routerLink="posts/detail/:id">Post - detail</button>
  </div>
</div>

