<div class="card-content">
  <h3>Titre de l'article</h3>
  <div class="margin-bottom-20 flex-basis-50">
    <span>Date</span>
    <span>Auteur</span>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie condimentum quam ac malesuada. Ut sagittis
  eros a tortor molestie, eu tristique tellus vulputate. Proin imperdiet dictum mollis. Fusce libero mauris, elementum at
  porta et, ornare quis lectus. Donec venenatis, ex vitae auctor dignissim, erat risus suscipit diam, auctor egestas nunc
  neque eget urna. Vivamus sapien turpis, mattis congue dictum ut, molestie eget risus. Etiam non enim convallis,
  sollicitudin mauris vitae, tincidunt augue. Mauris auctor ornare posuere. Vivamus a condimentum odio. Duis lacinia
  condimentum nisl, eu fringilla sem scelerisque vel. Sed ultricies elit sollicitudin, volutpat ipsum ut, bibendum nulla.
  Phasellus ac mauris sed arcu auctor tincidunt.
  </p>
</div>

