@import '../../../../../sass/mixins.scss';

.register-container {
  @include page-content-height;
  @include flex-center;
  position: relative;

  .arrow-button {
    @include arrow-button-style;

    .mat-icon {
      @include arrow-button-icon-style;
    }
  }

  .register-card {
    mat-card {
      @include form-card-style(300px);

      mat-card-title, mat-card-content {
        text-align: center;
      }

      h1 {
        @include page-title(400);
      }

      .logo-width {
        @include card-logo-width;
      }

      mat-form-field {
        @include form-field-width;
      }

      button {
        width: 200px;
      }
    }
  }
}
