<app-header></app-header>

<div class="register-container">
  <button class="arrow-button" mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="register-card">
    <mat-card>
      <mat-card-title>
        <div>
          <img src="/logo_p6.png" alt="logo" class="logo-width" />
          <h1>Inscription</h1>
        </div>
      </mat-card-title>
      <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nom d’utilisateur</mat-label>
              <input matInput type="text" formControlName="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Adresse e-mail</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </p>
          <button mat-flat-button type="submit" [disabled]="!registerForm.valid">S'inscrire</button>
        </mat-card-content>
      </form>
    </mat-card>
    <!-- <p>{{registerForm.value.username}}</p>
    <p>{{registerForm.value.email}}</p>
    <p>{{registerForm.value.password}}</p> -->
  </div>

</div>

